include pieface_docs/*.rst
include pieface_docs/*.pdf
include pieface_docs/images/*
include *.txt
include *.rst
include *.pdf
exclude release_instructions.txt
exclude win_CMD_info.txt
exclude win_GUI_info.txt