--extra-index-url https://testpypi.python.org/pypi 
cycler==0.10.0
matplotlib==1.5.3
multiprocessing==2.6.2.1
pandas==0.19.1
PyCifRW==4.2.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
